.header{
    display: flex;
    justify-content: space-between;
    font-family: cursive;
}

.header_btn{
    display: flex;
    justify-content: flex-end;
}

.header_btn>button{
    margin: 2px;
}
.header_greeting{
    display: flex;
    align-items: center;
}
